body{
    background-color:gray;

}
h1{
    color: darkgray;


}

#p1{
    color: /tomato;

}
.odd{
    color: blue;

}
.even{
    color: red;
}  
p{
    font-family: 'Open Sans', sans-serif;
}
h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: bold;
    text-decoration: wavy;
    text-decoration: black;
    font: size 16px;
}
p{
    border-style: solid;
    border-width: 5px;
    border-color:gainsboro;
    border: radius 10px;
    background-image: url(Glass.png);
   
    
}
h1{
    border-top style: dotted;
    border-bottom-style:inset;
}
body{
    background-image: url(2023-02-03_21.37.49.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0px;

    padding: 10px;

}
#box1{
    border: 5px thin;
    width: 250px;
    height: 250px;
    font-size: 20px;
    background-color: aquamarine;
    border-color: lightseagreen;
    border-style:
    margin-top: 50px;
    margin: auto
    
}
#box2{
    border: 5px;
    width: 250px;
    height: 250px;
    font-size: 20px;
    background-color: aquamarine;
    border-style: ridge;
    border-color: lightseagreen;
    margin-top: 50px;
    margin: auto;
    border: 2px solid;
}
button{
    background-color: cornflowerblue;

}
a{
    background: lightsteelblue;
    border: 2px solid;
}
img{
    float: left;

}
.box{
    width: 100px;
    height: 100px;
    border:1px solid ;
    font-size: 40px;
    text-align:center;
}
#box3{
    border: solid 1px; 
    height: 300px;
    width: 300px;
    background-color: rgb(255, 0, 0);
    position: relative;
    top: 100px;
    left: 100px;
    right: 100px;
}
#box3{
    border: solid 1px; 
    height: 100px;
    width: 100px;
    background-color: tomato;
    position:sticky ;
    top: 0px;
   
    bottom: 0px;
    
}
a:link{
    color: cornflowerblue;

}
a:visited{
    color: cadetblue;

}
a:hover{
    color: darkcyan;

}
a:active{
    color: red;

}
button:hover{
    background-color: lightslategray;

}
button:active{
    color: gray;

}
/*li:nth-child(1){
    background-color: cornflowerblue;


}*/
